/* ----- ----- GALERIA ----- ----- */
.main .galeria{
    overflow: hidden;
}

.main .galeria .foto{
    width: 25%;
    float: left;
}

.main .galeria .foto img{
    width: 100%;
    vertical-align: top;
    opacity: .7;
}
.main .galeria .foto:hover img{
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3 ease;
    transition: all .3 ease;
}