/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
	header .contenedor {
		position: static;
		height: auto;
	}

	header .textos {
		position: static;
		margin: 100px 0;
	}

	header .menu {
		text-align: center;
	}

	header .menu a {
		margin: 10px 20px;
	}

	header .textos .nombre {
		font-size: 30px;
	}

	header .textos h3 {
		font-size: 18px;
	}

	.main .acerca-de .foto {
		position: relative;
		width: 100%;
	}

	.main .acerca-de article {
		position: relative;
		width: 100%;
		top:-50px;
		transform: translate(0px, 0);
	}

	.main .menu {
		padding-top: 300px;
	}

	.main .menu article {
		width: 100%;
	}

	.main .galeria .foto {
		width: 50%;
	}

	.main .mapa {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 400px) {
	.main .acerca-de article h3 {
		font-size: 34px;
		margin-bottom: 10px;
	}

	.main .menu article .nombre,
	.main .menu article .precio {
		font-size: 16px;
		line-height: 16px;
	}

	.main .ubicacion .direccion,
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
	}

	.main .ubicacion .direccion {
		margin-bottom: 20px;
	}

	.main .ubicacion .horarios .entre-semana,
	.main .ubicacion .horarios .fin-semana {
		width: 100%;
		margin-bottom: 10px;
	}
}